# Go
middleware/vendor/
middleware/robotos
middleware/hal-gateway
*.test
*.out

# C++
hal/build*/
*.o
*.a
*.so

# Mac
.DS_Store

# Docker
.env
docker/jenkins/.env

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
